@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
   

    

    body {
        @apply bg-orange-300 text-white;
    }

    

}
body{
    transition: background-color 0.5s ease;
}


html {
    scroll-behavior: smooth;
    
    
}

.home__title,
.card__title,
.section__title {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;


}


.separator {
    @apply w-28 h-[2px] text-red-700 bg-orange-500 my-5 border-separate border-orange-500;
}






.home__title,
.card__title,
.section__title {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
section{
    margin: 30px 12px 10px 12px ;
}



.separator {
    @apply w-28 h-[2px] text-red-700 bg-orange-500 my-5 border-separate border-orange-500;
}

.btn {
    border: solid 1.5px black;
    border-radius: 20%;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: small;
    background: rgb(249 115 22);
    ;

}

.btn:hover {
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    border: none !important;

}

.btnicon {
    color: white;
}

@keyframes translateYAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .img_Promo {
    transition: transform 0.3s ease-in-out;
    width: 10rem;
  }

  .img_Promo:hover {
    animation: translateYAnimation 1s infinite;
  }



.card{
    background: orange;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.textpromo,.btnpromo{
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(179, 230, 98);
}.card1{
    background: rgb(80, 80, 156);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.text_lg{
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem;
    font-family: "Roboto";
}
.line{
    /* border-radius: 20%; */
    background:orange ;
    width: 30%;
    height: 4px;
}
.produit_menu{
    background: none;
    padding: 10px 30px 10px 30px;
    border: orange solid 1px;
    border-radius: 10%;
}
.produit_menu:hover{
    border: none !important;
    background: orange;
}
.produit_menu.active{
    border: none !important;
    background: orange;
}
.produit{
    background: none !important;
    margin-top: 10px !important;
    border-radius: 0.375rem;
    border: orange solid 1px !important;
    place-items: center;
}
.produit img{
    width: 10rem;
    
    margin-top: 15px !important;
    padding: 20px;
    transition: 0.3s;
}
.produit img:hover{
    border-radius: 0.375rem;
    background: orange;
   
}
.produits{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1,25rem !important;
    
}
@media (min-width: 768px) {
    .produits {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1,5rem !important;

    }
}
@media (min-width: 1024px) {
   .produits{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 2rem !important;

    }
}

.prix , .script_produit{
    padding-left: 1.25rem/* 20px */;
    padding-right: 1.25rem/* 20px */;
}
/* review */
.review{
    background: rgb(206, 141, 57);
    padding: 15px 10px 15px 10px;
    border-radius: 0.45rem;
}
.review_img{
    border-radius: 9999px;
    width: 35px !important;
}
.user{
    margin-left: 1rem;

}
/* footer */
#footer{
   background:  rgb(80, 80, 156);
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    display: none;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
#scrollToTopBtn:hover {
    background-color: rgb(160, 123, 0);
}
/* darkmode */
.dark-mode{
    background: #000;
}
.light-mode{
    --gb-opasity:1;
    background-color: rgb(253 186 116 /1);
}

